
@font-face {
	font-family: 'theboldfont';
	src: url('../../fonts/theboldfont.ttf'); 
	src: 
		local('theboldfont'),
		url('../../fonts/theboldfont.ttf') 
		format('opentype');
}

  span {
    font-family: 'theboldfont';
  }
  .error-number-required {
    display: none;
    font-size: xx-small;
    color: red;
    padding-top: 5px;

  }
  .error-char-required {
    display: none;
    font-size: xx-small;
    color: red;
    padding-top: 5px;
  }
  .menu_input {
    margin-top: 1em;
  }
  .menu_input:hover .error-number-required {
    opacity: 1;
    display: block;
  }
  .menu_input:hover .error-char-required {
    opacity: 1;
    display: block;
  }
  .menu_input:hover {
    /* background-color : black ; */
  }