  .error-number-required {
    display: none;
    font-size: xx-small;
    color: red;
    padding-top: 5px;
  }
  .error-char-required {
    display: none;
    font-size: xx-small;
    color: red;
    padding-top: 5px;
  }
  .menu_input {
    margin-top: 1em;

  }
  .menu_input:hover .error-number-required {
    opacity: 1;
    display: block;
  }
  .menu_input:hover .error-char-required {
    opacity: 1;
    display: block;
  }
  .menu_input:hover {
    /* background-color : black ; */
  }
  .imageTitle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5em;
    padding-top: 1em;
  }